<div class="container mt-5">
  <div class="col-md-4 col-12 mx-auto">
    <div class="d-flex flex-column align-items-center">
      <div class="mb-3">
        <p class="h5" style="font-weight: 600;">Opps! URL not found.</p>
        <p class="h5 mt-2" style="font-weight: 600;">The URL may not have been shortened yet.</p>
      </div>
      <a class="btn btn-primary" href="/">back</a>
    </div>
  </div>
</div>