<div class="container mt-5">
  <div class="col-md-4 col-12 mx-auto">
    <div class="d-flex flex-column align-items-center">
      <div class="mb-3">
        <p class="h5" style="font-weight: 600;">Success!Please use this link:</p>
        <a href="/{{ shortener.shortenUrl }}" target="_blank">http:localhost:3000/{{
          shortener.shortenUrl }}</a>
      </div>
      <button class="btn btn-primary">Copy</button>
    </div>
  </div>
</div>